#map {
    height:500px;
}

.sticky {
    position: fixed;
    top: 0px;
}

#dateinput{
 	margin-top:70px;
}

#dateupdate {
 	margin-top:10px;
 	height:60px;
 	border-bottom-style:solid;
 	border-bottom-width:1px;
 	border-bottom-color:#cccccc;
}

#url {
    font-size: 1.5em;
}

#date {
	color:#777777;
}

.graphlabel {
	width:100px;
	display: inline-block;
}

.graph {
	display:inline-block;
}

.graphval {
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
	margin-left: 15px; 
	margin-bottom: 20px;
	text-align: right;
}

.graphlegend {
	font-size: 13px;
	font-style: italic;
}

.graphnote {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
} 

.infolegend {
	padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 11px;
	font-weight: bold;
}

.legendhead {
	height: 26px;
	display: inline-block;
	margin-left: 5px;
}

.borderhead {
	height: 16px;
}

.impcat {
	width: 50px;
	display: inline-block;
	margin-left: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.legendcat {
	height: 12px;
	margin-top: 0px;
	margin-left: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.forecast{
	background-color:#fafafa;
}

.topspacer {
	margin-top:20px;
}

.button {
	margin-right:10px;
	margin-left:10px;
	border-width:3px;
	border-color:#4F47D3;
	border-style:solid;
	background-color:#4F47D3;
	color:#fafafa;
}

#expimage {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
	color:#F39000;
	font-weight:bold;
}

.bottomborder {
	border-bottom-width:1px;
	border-bottom-color:#bbbbbb;
	border-bottom-style:solid;
	padding-bottom:10px;
}
