
body {
    font-family: "Gotham-Light", sans-serif;
}

.title{
	font-size: 2.5em;
    font-weight: bold;
	margin-top: 20px;
}

.container {
    width: 90%;
}

.subtitle{
    font-size: 2em;
}

p {
    font-size: 1em;
    color: #555;
    text-align: justify;
}

.desc {
    font-size: .8em;
    color: #777;
    text-align: right;
}

.right {
    float: right;
}

#portal {
    color: #ffffff;
}

a {
	padding: 0;
}

.loading {
	padding: 1em;
	font-size: 300%;
}

#map-container {
	margin-top: 0px;
}

#map {
    height:550px;
}

/* #slider_title {
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 0px;
	display: inline-block;
} */

.arrinfo {
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }

#timeslider {
	height:120px;
	/* width: 100%; */
	width: 400px;
} 

#slider_scale {
	font-size: 0.9em;
	color: #bbbbbb;
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 75px;
	width: 280px;
	display: inline-block;
}


.highlight {
	color:#F39000;
	font-weight:bold;
}

.bottomborder {
	border-bottom-width:1px;
	border-bottom-color:#bbbbbb;
	border-bottom-style:solid;
	padding-bottom:10px;
}

.sticky {
    position: fixed;
    top: 0px;
}

#allgraphs {
	width: 400px;
	max-width: 500px;
}

.graphlabel {
	width:90px;
	font-size: 13px;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 0px;
}

.graph {
	display:inline-block;
	width: 200px;
}

.graphs {
	width: 400px;
}

.graphval {
	display: inline-block; 
	width: 60px; 
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
	text-align: right;   
	margin-right: 0px;
	margin-left: 8px;
	/* margin-bottom: 10px;
	margin-left: 10px; */
}

.graphlegend {
	font-size: 13px;
	font-style: italic;
}

.graphnote {
	width: 400px;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
} 

.infolegend {
	padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 11px;
	font-weight: bold;
}

.legendhead {
	height: 26px;
	display: inline-block;
	margin-left: 5px;
}

.borderhead {
	height: 16px;
}

.impcat {
	width: 50px;
	display: inline-block;
	margin-left: 0px;
	margin-bottom: 5px;
	text-align: center;
}

.legendcat {
	height: 12px;
	margin-top: 0px;
	margin-left: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.forecast{
	background-color:#fafafa;
}

.topspacer {
	margin-top:20px;
}

footer {
	margin-top: 10px;
	font-style: italic;
}

.btn {
    background: #e60000;  /* button colour */
    color: #ffffff;       /* text colour */
    border: #e60000;
    font-weight: bold;
    font-size: 13px;
	margin-bottom: 5px;
	margin-top: 0px;
}

.btn2 {
    background: #e60000;  /* button colour */
    color: #ffffff;       /* text colour */
    border: #e60000;
	border-radius: 3px;
	padding: 5px;
    font-weight: bold;
    font-size: 13px;
	margin-bottom: 2px;
	margin-top: 0px;
	/* margin-left: 20px; */
/* 	display: list-item; */
	display: inline;
}

#show-arrivals {
	margin-left: 20px;
}

#show-borders {
	margin-left: 40px;
} 

#arrivalsdate {
	padding-left: 20px;
} 
#bordersdate {
	padding-left: 40px;
}
#newsdate {
	white-space: nowrap;
	overflow: visible;
} 

#logo {
    float: right;
    width: 100%;
    margin-top: 10px;
}

.button {
	margin-right:10px;
	margin-left:10px;
	border-width:0px;
	border-color:none;
	border-style:solid;
	margin-top: 0px;
	margin-bottom: 0px;
	/* background-color:#4F47D3;
	color:#fafafa; */
}

.small {
	font-size: .8em;
	margin-bottom: 0px;
}

#dateinput{
	margin-left: 105px;
	width: 200px;
	display: inline-block;
}

#dateupdate {
 	margin-top:10px;
	margin-left: 125px;
 	height:40px;
 	border-bottom-style:solid;
 	border-bottom-width:1px;
 	border-bottom-color:#cccccc;
}

/* #newsdate {
	display: inline;
} */

#map-options {
	margin-top: 30px;
}

.sameline {
	display: inline-block;
}

#portal {
	color: #ffffff;
}

#url {
    font-size: 1.5em;
}

#date {
	color:#777777;
}

#expimage {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
